{% extends 'base.html' %}
{% load bootstrap %}
{% block title %} Home {% endblock %}
{% block main %}
<div class="row">
    <div class="col">
    </div>
    <div class="col-6">
      <h2>Seja bem vindo!</h2>
    </div>
    <div class="col">
        {% if user.is_authenticated %}
            <p>Olá, {{ user.username }}</p>
            <a href="{% url 'logout' %}" class="btn btn-secondary">Sair</a>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block footer %}
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Desenvolvido com Django 2.1</span>
      </div>
    </footer>
{% endblock %}
