{% extends 'base.html' %}
{% load bootstrap %}
{% block title %} Seja bem vindo! {% endblock %}

{% block main %}
    <h2>Página de login</h2>
    {% if user.is_authenticated %}
        <p>Olá, {{ user.username }}</p>
        <a href="{% url 'logout' %}" class="btn btn-secondary">Sair</a>
    {% else %}
        <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-info">Enviar</button>
    </form>
    {% endif %}
{% endblock %}

{% block footer %}
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Desenvolvido com Django 2.1</span>
      </div>
    </footer>
{% endblock %}
